{% extends "_base.html" %}
{% load static %}

{% block page_name %}
    <i class="fas fa-receipt"></i>
    Tabs
{% endblock %}

{% block no_description %}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url "index" %}">Home</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url "waiter" %}">Waiter</a></li>
    <li class="breadcrumb-item active" aria-current="page">Tabs</li>
{% endblock %}

{% block page_actions %}
    <button type="button" class="btn btn-success float-right" data-toggle="modal"
            data-target="#newTabModal">
        <i class="fas fa-plus"></i>
        Add
    </button>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        {% if manager_role %}
            <div class="row">
                <div class="col-12">
                    <div class="card collapsed-card">
                        <div class="card-header border-0">
                            <h2 class="card-title">Finished Tabs</h2>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <table class="table table-striped table-hover table-valign-middle">
                                <thead>
                                <tr>
                                    <th scope="col">Tab name</th>
                                    <th scope="col">Opened at</th>
                                    <th scope="col">Closed at</th>
                                    <th scope="col">Total price</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for tab in paid_tabs %}
                                    <tr>
                                        <td>{{ tab.name }}</td>
                                        <td>{{ tab.openedAt }}</td>
                                        <td>{{ tab.closedAt }}</td>
                                        <td>{{ tab.total }}</td>
                                        <td>
                                            <a href="{% url "waiter/tabs/tab" tab.id %}" class="btn btn-tool"
                                               data-toggle="tooltip" data-position="top" title="Show details">
                                                <i class="fas fa-receipt"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="card-columns">
            {% for tab in tabs %}
                <div class="card card-default bg-light">
                    <div class="card-header">
                        <h2 class="card-title">
                            {{ tab.name }}<br>
                            <small class="text-xs {% if not tab.owner %}text-danger{% endif %}" data-toggle="tooltip"
                                   title="Owner">
                                {{ tab.owner.name|default:"No owner set" }}
                            </small>
                        </h2>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-toggle="modal" data-target="#orderModal"
                                    data-tab-id="{{ tab.id }}" data-tab-name="{{ tab.name }}">
                                <i class="fas fa-plus" data-toggle="tooltip" data-placement="top"
                                   title="Order"></i>
                            </button>
                            <a href="{% url "waiter/tabs/tab" tab.id %}" class="btn btn-tool" data-toggle="tooltip"
                               data-placement="top" title="Pay">
                                <i class="fas fa-coins"></i>
                            </a>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <table class="table table-striped table-hover table-valign-middle">
                            {% for product in tab.products %}
                                {% for variant in product.variants %}
                                    <tr>
                                        <td>
                                            {{ product.name }}<br>
                                            <span class="text-xs text-muted">{{ variant.note }}</span>
                                        </td>
                                        <td class="text-right">

                                            {% if variant.showOrdered %}
                                                <span class="badge badge-warning" data-toggle="tooltip"
                                                      data-placement="top"
                                                      title="Waiting">{{ variant.orderedCount }}</span>
                                            {% endif %}
                                            {% if variant.showPreparing %}
                                                <span class="badge badge-secondary" data-toggle="tooltip"
                                                      data-placement="top"
                                                      title="In preparation">{{ variant.preparingCount }}</span>
                                            {% endif %}
                                            {% if variant.showToServe %}
                                                <span class="badge badge-info" data-toggle="tooltip"
                                                      data-placement="top"
                                                      title="To be served">{{ variant.toServeCount }}</span>
                                            {% endif %}
                                            {% if variant.showServed %}
                                                <span class="badge badge-success" data-toggle="tooltip"
                                                      data-placement="top"
                                                      title="Finished">{{ variant.servedCount }}</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endfor %}
                        </table>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <h5 class="col-6">Total</h5>
                            <div class="col-6">
                                <h5 class="float-right">{{ tab.total }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="modal fade" id="newTabModal" tabindex="-1" role="dialog" aria-labelledby="newTabModalTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newTabModalTitle">New tab</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post" id="newTabForm">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="newTabName" class="col-form-label">New tab name:</label>
                            <input type="text" class="form-control" id="newTabName" name="newTabName"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="newTabForm">Create</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="orderModalLabel">Order to <span id="orderModalTabName"></span></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% include "waiter/tabs/components/order.panel.html" %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="createOrder">Order</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static "posapp/js/bootstrap-input-spinner.js" %}"></script>
    <script>
        $("input[type='number']").inputSpinner();
        $(document).ready(() => {
            $('#orderModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var tabId = button.data('tab-id'); // Extract info from data-* attributes
                var tabName = button.data('tab-name'); // Extract info from data-* attributes
                // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
                // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
                var modal = $(this);
                $("#orderModalTabName").text(tabName);
                $("#orderTabId").val(tabId);
            });
            $("#createOrder").click(() => {
                let tab = $("#orderTabId").val();
                let product = $("#newOrderProduct").val();
                let amount = $("#orderCount").val();
                let note = $("#orderNote").val();
                let state = "";
                if ($("#orderStateO").is(":checked")) state = "O";
                else if ($("#orderStateP").is(":checked")) state = "P";
                else if ($("#orderStateT").is(":checked")) state = "T";
                else if ($("#orderStateS").is(":checked")) state = "S";
                postData(`/api/1/tabs/${tab}/order`, {
                    "product": product,
                    "amount": Number(amount),
                    "note": note,
                    "state": state,
                }).then(() => {
                    location.reload();
                });
            });
        });
    </script>
{% endblock %}
