{% extends "_base.html" %}
{% load static %}
{% load generic %}

{% block page_name %}
    <i class="fas fa-receipt"></i>
    Tab {{ tab.name }}
{% endblock %}

{% block no_description %}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url "index" %}">Home</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url "waiter" %}">Waiter</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url "waiter/tabs" %}">Tabs</a></li>
    <li class="breadcrumb-item active" aria-current="page">Tab</li>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12{% if tab_open %} col-md-7{% endif %}">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">
                            <i class="fas fa-bars"></i>
                            Items
                        </h2>
                    </div>
                    <div class="card-body p-0">
                        <div class="container-fluid container-fluid-striped container-fluid-hover">
                            {% for product in tab.products %}
                                {% for variant in product.variants %}
                                    <div class="row align-items-center{% if not forloop.parentloop.last or not forloop.last %} border-bottom{% endif %}">
                                        <div class="col-5 p-2">
                                            {{ product.name }}<br>
                                            <span class="text-muted text-xs">{{ variant.note }}</span>
                                        </div>
                                        <div class="col-3 text-center">
                                            <span class="badge badge-warning{% if not variant.showOrdered %} invisible{% endif %}"
                                                  data-toggle="tooltip" data-placement="top" title="Waiting">
                                                {{ variant.orderedCount }}
                                            </span>
                                            <span class="badge badge-secondary{% if not variant.showPreparing %} invisible{% endif %}"
                                                  data-toggle="tooltip" data-placement="top" title="Waiting">
                                                {{ variant.preparingCount }}
                                            </span>
                                            <span class="badge badge-info{% if not variant.showToServe %} invisible{% endif %}"
                                                  data-toggle="tooltip" data-placement="top" title="Waiting">
                                                {{ variant.toServeCount }}
                                            </span>
                                            <span class="badge badge-success{% if not variant.showServed %} invisible{% endif %}"
                                                  data-toggle="tooltip" data-placement="top" title="Waiting">
                                                {{ variant.servedCount }}
                                            </span>
                                        </div>
                                        <div class="col-3 text-right">{{ variant.total }}</div>
                                        <div class="col-1 text-center">
                                            <button type="button" class="btn btn-tool" data-toggle="collapse-toggle"
                                                    data-target="#collapsible-{{ product.id }}-{{ variant.note|replace_spaces }}">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="col-12 collapse in p-0 mt-0"
                                             id="collapsible-{{ product.id }}-{{ variant.note|replace_spaces }}">
                                            <table class="table table-valign-middle m-0">
                                                <thead>
                                                <tr class="d-flex">
                                                    <th scope="col" class="col border-top-0">Ordered at</th>
                                                    <th scope="col" class="col border-top-0">Started at</th>
                                                    <th scope="col" class="col border-top-0">Prepared at</th>
                                                    <th scope="col" class="col border-top-0">Served at</th>
                                                    <th scope="col" class="col-1 border-top-0"></th>
                                                </tr>
                                                </thead>
                                                {% for order in variant.orders %}
                                                    <tr class="bg-{{ order.color }} d-flex">
                                                        <td class="col">{{ order.orderedAt|empty_none }}</td>
                                                        <td class="col">{{ order.preparingAt|empty_none }}</td>
                                                        <td class="col">{{ order.preparedAt|empty_none }}</td>
                                                        <td class="col">{{ order.servedAt|empty_none }}</td>
                                                        <td class="col-1 text-center">
                                                            {% if order.state != 'V' %}
                                                                {% if order.void_request_exists %}
                                                                    <i class="fas fa-ellipsis-h" data-toggle="tooltip"
                                                                       title="Request in progress"></i>
                                                                {% else %}
                                                                    <button type="button"
                                                                            class="btn btn-tool void-order-button"
                                                                            data-order-id="{{ order.id }}"
                                                                            data-order-state="{{ order.get_state_display }}"
                                                                            data-order-product-name="{{ product.name }}"
                                                                            {% if manager_role %}data-order-void-url="{% url "waiter/orders/order/void" order.id %}?next={% url "waiter/tabs/tab" id %}"{% endif %}
                                                                            data-order-request-url="{% url "waiter/orders/order/requestVoid" order.id %}?next={% url "waiter/tabs/tab" id %}"
                                                                            data-order-authenticate-url="{% url "waiter/orders/order/authenticateAndVoid" order.id %}?next={% url "waiter/tabs/tab" id %}">
                                                                        <i class="fas fa-trash" data-toggle="tooltip"
                                                                           data-position="top"
                                                                           title="Void item"></i>
                                                                    </button>
                                                                {% endif %}
                                                            {% endif %}
                                                        </td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for payment in payments %}
                                <div class="row align-items-center border-top {% if forloop.first %} border-dark{% endif %} ">
                                    <div class="col p-2">{{ payment.method.paymentMethod.name }}</div>
                                    <div class="col text-right">
                                        {{ payment.amount }}
                                    </div>
                                    {% if tab_open %}
                                        <div class="col-1 text-center">
                                            <button type="submit" form="deletePayment{{ payment.id }}Form"
                                                    class="btn btn-tool" name="delete">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </div>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="card-footer">
                        {% if tab_open %}
                            <div class="row">
                                <h5 class="col-6">Spent</h5>
                                <div class="col-6">
                                    <h5 class="float-right">{{ tab.total }}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <h5 class="col-6">Paid</h5>
                                <div class="col-6">
                                    <h5 class="float-right">{{ tab.paid }}</h5>
                                </div>
                            </div>
                            {% if tab.showVariance %}
                                <div class="row">
                                    <h5 class="col-6"> {{ tab.varianceLabel }}</h5>
                                    <div class="col-6">
                                        <h5 class="float-right">{{ tab.variance }}</h5>
                                    </div>
                                </div>
                            {% endif %}
                            {% if tab.showFinaliseAuto %}
                                <div class="row float-right">
                                    <button class="btn btn-primary" type="submit" form="finaliseForm">
                                        <i class="fas fa-flag-checkered"></i>&nbsp;
                                        Finish
                                    </button>
                                </div>
                            {% endif %}
                            {% if tab.showFinaliseChange %}
                                <div class="row float-right">
                                    <button class="btn btn-warning" type="button" data-toggle="modal"
                                            data-target="#confirmChangeModal">
                                        <i class="fas fa-coins"></i>&nbsp;
                                        Finish
                                    </button>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="row">
                                <h5 class="col-6">Total</h5>
                                <div class="col-6">
                                    <h5 class="float-right">{{ tab.total }}</h5>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if tab_open %}
                <div class="col-12 col-md-5">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-title">
                                <i class="fas fa-coins"></i>
                                Payment
                            </h2>
                        </div>
                        <div class="card-body">
                            <form method="post" action="{% url "waiter/tabs/tab" id %}" id="paymentForm">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="moneyCount">Payment method</label>
                                    <select id="moneyCount" name="moneyCountId" class="form-control" required>
                                        {% for count in money_counts %}
                                            <option value="{{ count.id }}"
                                                    {% ifequal count.id last_used_method %} selected{% endifequal %}>
                                                {{ count.paymentMethod.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="paymentAmount">Amount paid</label>
                                    <input type="number" id="paymentAmount" name="amount" class="form-control"
                                           required min="0" step="0.01"/>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <button type="submit" form="paymentForm" class="btn btn-primary float-right">
                                <i class="fas fa-check"></i>&nbsp;
                                Pay
                            </button>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% if tab_open %}
        <!--MODALS-->
        <div class="modal fade" id="confirmChangeModal" tabindex="-1" role="dialog"
             aria-labelledby="confirmChangeModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmChangeModalLabel">Confirm change</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        The overpayment of {{ tab.variance }} will be returned via {{ change_method_name }}.
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" form="finaliseForm">
                            <i class="fas fa-flag-checkered"></i>&nbsp;Finalise
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirmVoidRequestModal" tabindex="-1" role="dialog"
             aria-labelledby="confirmVoidRequestModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmVoidRequestModalLabel">Confirm void request</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="confirmVoidRequestModalBody">
                        ...
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        {% if manager_role %}
                            <button type="button" class="btn btn-warning" id="confirmVoidRequestModalButtonVoid">
                                Void immediately
                            </button>
                        {% else %}
                            <button type="button" class="btn btn-success" id="confirmVoidRequestModalButtonAuthenticate">
                                Log in and void
                            </button>
                        {% endif %}
                        <button type="button" class="btn btn-primary" id="confirmVoidRequestModalButtonRequest">
                            Request void
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--FAKE FORMS-->
        {% for payment in payments %}
            <form action="{% url "waiter/tabs/tab" id %}" method="post" id="deletePayment{{ payment.id }}Form">
                {% csrf_token %}
                <input type="hidden" name="paymentId" value="{{ payment.id }}"/>
            </form>
        {% endfor %}
        <form action="{% url "waiter/tabs/tab" id %}" method="post" id="finaliseForm">
            {% csrf_token %}
            <input type="hidden" name="close" value="true"/>
        </form>
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(".void-order-button").on('click', function () {
            let button = $(this);
            let productName = button.data('order-product-name'),
                state = button.data('order-state');
            $('#confirmVoidRequestModalBody').html(`Are you sure you want to request void of product ${productName} currently in state ${state}?`)
            $('#confirmVoidRequestModal').modal('show');
            {% if manager_role %}
                $('#confirmVoidRequestModalButtonVoid').off('click').on('click', function () {
                    window.location = button.data('order-void-url');
                });
                {% else %}
                $('#confirmVoidRequestModalButtonAuthenticate').off('click').on('click', function() {
                    window.location = button.data('order-authenticate-url');
                })
            {% endif %}
            $('#confirmVoidRequestModalButtonRequest').off('click').on('click', function () {
                window.location = button.data('order-request-url');
            });
        })
    </script>
{% endblock %}
