{% extends "_base.html" %}
{% load static %}
{% load generic %}

{% block page_name %}
    <i class="fas fa-receipt"></i>
    Tab {{ tab.name }}
{% endblock %}

{% block description %}
    <span class="{% if not tab.owner %}text-danger{% endif %}" data-toggle="tooltip" title="Owner">
        {{ tab.owner.name|default:"No owner set" }}
    </span>
{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url "index" %}">Home</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url "waiter" %}">Waiter</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url "waiter/tabs" %}">Tabs</a></li>
    <li class="breadcrumb-item active" aria-current="page">Tab</li>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12{% if tab_open %} col-xl-7{% endif %}">
                {% include "waiter/tabs/components/items.card.html" %}
            </div>
            {% if tab_open and tab_my %}
                <div class="col-12 col-md-5">
                    {% include "waiter/tabs/components/payment.card.html" %}
                </div>
                {% if transfer_request_exists %}
                    <div class="col-12 col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="card-title">
                                    <i class="fas fa-people-arrows"></i>
                                    Transfer
                                </h2>
                            </div>
                            <div class="card-body">
                                <span class="text-warning">Another transfer or claim request is currently waiting to be resolved. Please wait until then.</span>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-12 col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="card-title">
                                    <i class="fas fa-people-arrows"></i>
                                    Transfer
                                </h2>
                            </div>
                            <div class="card-body">
                                <form method="post" action="{% url "waiter/tabs/tab/requestTransfer" id %}"
                                      id="transferRequestForm">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="newOwnerUsername">Target user</label>
                                        <select id="newOwnerUsername" name="newOwnerUsername" class="form-control"
                                                required>
                                            {% for waiter in waiters %}
                                                <option value="{{ waiter.username }}">
                                                    {{ waiter.name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer">
                                <button type="submit" form="transferRequestForm" class="btn btn-primary float-right">
                                    <i class="fas fa-check"></i>&nbsp;
                                    Request transfer
                                </button>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            {% if tab_open and not tab_my %}
                {% if transfer_request_exists %}
                    <div class="col-12 col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="card-title">
                                    <i class="fas fa-people-arrows"></i>
                                    Claim
                                </h2>
                            </div>
                            <div class="card-body">
                                <span class="text-warning">Another transfer or claim request is currently waiting to be resolved. Please wait until then.</span>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="col-12 col-md-4">
                        <div class="card">
                            <div class="card-header">
                                <h2 class="card-title">
                                    <i class="fas fa-people-arrows"></i>
                                    Claim
                                </h2>
                            </div>
                            <div class="card-body">
                                You can request claim of this Tab to be able to create payments. A manager needs to
                                review the task. By clicking the button you can create a request to claim this Tab.<br>
                                <a href="{% url "waiter/tabs/tab/requestClaim" id %}"
                                   class="float-right btn btn-primary">Request claim</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
            {% if tab_open and manager_role %}
                <div class="col-12 col-md-4">
                    <div class="card">
                        <div class="card-header">
                            <h2 class="card-title">
                                <i class="fas fa-people-arrows"></i>
                                Change owner
                            </h2>
                        </div>
                        <div class="card-body">
                            <form method="post" action="{% url "waiter/tabs/tab/changeOwner" id %}"
                                  id="ownerChangeForm">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="newOwnerUsername">Target user</label>
                                    <select id="newOwnerUsername" name="newOwnerUsername" class="form-control"
                                            required>
                                        {% for waiter in waiters %}
                                            <option value="{{ waiter.username }}">
                                                {{ waiter.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="card-footer">
                            <button type="submit" form="ownerChangeForm" class="btn btn-primary float-right">
                                <i class="fas fa-check"></i>&nbsp;
                                Change owner
                            </button>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    {% if tab_open %}
        <!--MODALS-->
        {% include "waiter/tabs/components/confirm_change.modal.html" %}
        {% include "waiter/tabs/components/request_void.modal.html" %}
        <!--FAKE FORMS-->
        {% for payment in payments %}
            <form action="{% url "waiter/tabs/tab" id %}" method="post" id="deletePayment{{ payment.id }}Form">
                {% csrf_token %}
                <input type="hidden" name="paymentId" value="{{ payment.id }}"/>
            </form>
        {% endfor %}
        <form action="{% url "waiter/tabs/tab" id %}" method="post" id="finaliseForm">
            {% csrf_token %}
            <input type="hidden" name="close" value="true"/>
        </form>
    {% endif %}
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $(".void-order-button").on('click', function () {
            let button = $(this);
            let productName = button.data('order-product-name'),
                state = button.data('order-state');
            $('#confirmVoidRequestModalBody').html(`Are you sure you want to request void of product ${productName} currently in state ${state}?`)
            $('#confirmVoidRequestModal').modal('show');
            {% if manager_role %}
                $('#confirmVoidRequestModalButtonVoid').off('click').on('click', function () {
                    window.location = button.data('order-void-url');
                });
            {% else %}
                $('#confirmVoidRequestModalButtonAuthenticate').off('click').on('click', function () {
                    window.location = button.data('order-authenticate-url');
                })
            {% endif %}
            $('#confirmVoidRequestModalButtonRequest').off('click').on('click', function () {
                window.location = button.data('order-request-url');
            });
        })
    </script>
{% endblock %}
