{% extends "adminlte/base.html" %}
{% load static %}

{% block javascript %}
    <script type="text/javascript">
        window.FontAwesomeConfig = {autoReplaceSvg: false}
    </script>
    <script src="https://kit.fontawesome.com/7635efe91d.js" crossorigin="anonymous"></script>
    {{ block.super }}
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip({sanitize: false})
        });

        $('[data-toggle="collapse-toggle"]').each(function () {
            let button = $(this);
            let target = $(`${button.data('target')}`);
            button.on('click', function () {
                target.collapse('toggle');
            });
            target.on('show.bs.collapse', function () {
                let icon = button.children('i').first();
                icon.removeClass('fa-plus');
                icon.addClass('fa-minus');
            });
            target.on('hide.bs.collapse', function () {
                let icon = button.children('i').first();
                icon.removeClass('fa-minus');
                icon.addClass('fa-plus');
            });
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        async function postData(url = '', data = {}) {
            // Default options are marked with *
            const response = await fetch(url, {
                method: 'POST', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, *cors, same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken'),
                },
                redirect: 'follow', // manual, *follow, error
                referrerPolicy: 'no-referrer', // no-referrer, *client
                body: JSON.stringify(data) // body data type must match "Content-Type" header
            });
            return await response.json(); // parses JSON response into native JavaScript objects
        }

        jQuery.fn.visible = function () {
            return this.css('visibility', 'visible');
        };

        jQuery.fn.invisible = function () {
            return this.css('visibility', 'hidden');
        };

        const wsProtocol = location.protocol === "https:" ? "wss://" : "ws://";

        const userNotificationsSocket = new WebSocket(`${wsProtocol}${window.location.host}/ws/posapp/notifications/user`);
        userNotificationsSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            switch (data.notification_type) {
                case "tab_void_request_resolved":
                    $(document).Toasts('create', {
                        body: `<a id="toast"></a>Manager ${data.manager.username} has ${data.resolution === 'A' ? 'approved' : 'rejected'} your void request of product ${data.order.product_name} in tab ${data.order.tab_name}. <a href="/waiter/tabs/${data.order.tab_id}">Review it now</a>.`,
                        title: 'Void request resolved',
                        icon: data.resolution === 'A' ? 'text-success fas fa-check fa-lg' : 'text-danger fas fa-times fa-lg',
                        autohide: false,
                        close: true,
                    });
                    break;
                case "tab_transfer_request_resolved":
                    $(document).Toasts('create', {
                        body: `<a id="toast"></a>${data.message}`,
                        title: 'Transfer request resolved',
                        icon: data.resolution ? 'text-success fas fa-check fa-lg' : 'text-danger fas fa-times fa-lg',
                        autohide: false,
                        close: true,
                    });
                    break;
            }
        }

        {% if manager_role %}
            const managerNotificationsSocket = new WebSocket(`${wsProtocol}${window.location.host}/ws/posapp/notifications/manager`);
            managerNotificationsSocket.onmessage = function (e) {
                const data = JSON.parse(e.data);
                switch (data.notification_type) {
                    case "void_request":
                        $(document).Toasts('create', {
                            body: `<a id="toast"></a>User ${data.user.username} is requesting void of product ${data.order.product_name} in tab ${data.order.tab_name}. <a href="{% url "manager/requests" %}">Resolve it now</a>.`,
                            title: 'Void request',
                            icon: 'fas fa-trash fa-lg',
                            autohide: false,
                            close: true,
                        });
                        break;
                    case "tab_transfer_request":
                        switch (data.transfer_mode) {
                            case "transfer":
                                $(document).Toasts('create', {
                                    body: `<a id="toast"></a>User ${data.requester_name} is requesting transfer of their tab ${data.tab_name} to ${data.new_owner_name}. <a href="{% url "manager/requests" %}">Resolve it now</a>.`,
                                    title: 'Transfer request',
                                    icon: 'fas fa-people-arrows fa-lg',
                                    autohide: false,
                                    close: true,
                                });
                                break;
                            case "claim":
                                $(document).Toasts('create', {
                                    body: `<a id="toast"></a>User ${data.requester_name} is requesting to claim tab ${data.tab_name}. <a href="{% url "manager/requests" %}">Resolve it now</a>.`,
                                    title: 'Claim request',
                                    icon: 'fas fa-people-arrows fa-lg',
                                    autohide: false,
                                    close: true,
                                });
                                break;
                        }
                }
            };
        {% endif %}
    </script>
{% endblock %}

{% block nav_header %}
    {% include "_header.html" %}
{% endblock %}

{% block nav_sidebar %}
    {% include "_sidebar.html" %}
{% endblock %}

{% block nav_footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block content_header %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-6">
                    <h1>
                        {% block page_name %}{% endblock %}
                    </h1>
                    <small class="text-muted text-xs">
                        {% block description %}{% endblock %}
                    </small>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb float-sm-right">
                        {% block breadcrumbs %}{% endblock %}
                    </ol>
                </div>
                <div class="col-12 float-right">
                    <div class="header-actions">
                        {% block page_actions %}{% endblock %}
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
{% endblock %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.DEBUG %}
                <div class="alert alert-primary alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fas fa-bug"></i>&nbsp;{{ message|safe }}
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <div class="alert alert-info alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fas fa-info-circle"></i>&nbsp;{{ message|safe }}
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fas fa-check"></i>&nbsp;{{ message|safe }}
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div class="alert alert-warning alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fas fa-exclamation-triangle"></i>&nbsp;{{ message|safe }}
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fas fa-times-circle"></i>&nbsp;{{ message|safe }}
                </div>
            {% else %}
                <div class="alert alert-info alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{% block extra_head %}
    <style>
        .container-fluid-striped > .row:nth-child(odd) {
            background-color: rgba(0, 0, 0, .05);
        }

        .container-fluid-hover > .row:hover {
            background-color: rgba(0, 0, 0, .075);
        }

        .hint {
            border-bottom: 1px dotted #000;
            text-decoration: none;
        }
    </style>
{% endblock %}
