{% extends "adminlte/base.html" %}

{% block javascript %}
    <script type="text/javascript">
        window.FontAwesomeConfig = {autoReplaceSvg: false}
    </script>
    <script src="https://kit.fontawesome.com/7635efe91d.js" crossorigin="anonymous"></script>
    {{ block.super }}
    <script src="//{{ host }}:3000/socket.io/socket.io.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        async function postData(url = '', data = {}) {
            // Default options are marked with *
            const response = await fetch(url, {
                method: 'POST', // *GET, POST, PUT, DELETE, etc.
                mode: 'cors', // no-cors, *cors, same-origin
                cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
                credentials: 'same-origin', // include, *same-origin, omit
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken'),
                },
                redirect: 'follow', // manual, *follow, error
                referrerPolicy: 'no-referrer', // no-referrer, *client
                body: JSON.stringify(data) // body data type must match "Content-Type" header
            });
            return await response.json(); // parses JSON response into native JavaScript objects
        }

        jQuery.fn.visible = function () {
            return this.css('visibility', 'visible');
        };

        jQuery.fn.invisible = function () {
            return this.css('visibility', 'hidden');
        };

        var socket = io("http://{{ host }}:3000");

        socket.on("connect", function () {
            socket.emit('authenticate_request', {
                "user": "{{ request.user.username }}",
                "key": "{{ request.user.api_totp_now }}"
            });
        });
        socket.on("authenticate_result", (message) => {
            $(document).Toasts('create', {
                body: message,
                title: 'Connected',
                icon: 'text-success fas fa-check',
                autohide: true,
                delay: 5000,
            })
        });
        socket.on("waiters-ping", function (message) {
            console.log("received waiters ping: "+message)
        })
    </script>
{% endblock %}

{% block nav_header %}
    {% include "_header.html" %}
{% endblock %}

{% block nav_sidebar %}
    {% include "_sidebar.html" %}
{% endblock %}

{% block content_header %}
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-6">
                    <h1>
                        {% block page_name %}{% endblock %}
                    </h1>
                </div>
                <div class="col-6">
                    <ol class="breadcrumb float-sm-right">
                        {% block breadcrumbs %}{% endblock %}
                    </ol>
                </div>
                <div class="col-12 float-right">
                    <div class="header-actions">
                        {% block page_actions %}{% endblock %}
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
{% endblock %}

{% block messages %}
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.DEBUG %}
                <div class="alert alert-primary alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fas fa-bug"></i>&nbsp;{{ message }}
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <div class="alert alert-info alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fas fa-info-circle"></i>&nbsp;{{ message }}
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fas fa-check"></i>&nbsp;{{ message }}
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div class="alert alert-warning alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fas fa-exclamation-triangle"></i>&nbsp;{{ message }}
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fas fa-times-circle"></i>&nbsp;{{ message }}
                </div>
            {% else %}
                <div class="alert alert-info alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}
