{% extends "adminlte/lib/_main_sidebar.html" %}
{% load static %}
{% load sidebar %}

{% block brand_img_src %}
    {% static "posapp/img/logo.svg" %}
{% endblock %}

{% block brand_img_alt %}
    ÚRODNÁ PŮDA
{% endblock %}

{% block brand_text %}
    PUDA POS
{% endblock %}

{% block nav_links_ul %}
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        {% if waiter_role %}
            <li class="nav-header">Waiter tasks</li>
            <li class="nav-item">
                <a href="{% url "waiter/tabs" %}" class="nav-link {% isactive page "waiter/tabs" %}">
                    <i class="nav-icon fas fa-receipt"></i>
                    <p>Tabs</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url "waiter/orders" %}" class="nav-link {% isactive page "waiter/orders" %}">
                    <i class="nav-icon fas fa-beer"></i>
                    <p>Orders</p>
                </a>
            </li>
        {% endif %}
        {% if manager_role %}
            <li class="nav-header">Manager tasks</li>
            <li class="nav-item has-treeview {% isopen page "manager/waiters" %}">
                <a href="{% url "manager/users" %}" class="nav-link {% isactive page "manager/users" %}">
                    <i class="nav-icon fas fa-users-cog"></i>
                    <p>
                        Users
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url "manager/users/overview" %}"
                           class="nav-link {% isactive page "manager/users/overview" %}">
                            <i class="nav-icon fas fa-users"></i>
                            <p>Overview</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "manager/users/create" %}"
                           class="nav-link {% isactive page "manager/users/create" %}">
                            <i class="nav-icon fas fa-user-plus"></i>
                            <p>Create</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item has-treeview {% isopen page "manager/tills" %}">
                <a href="{% url "manager/tills" %}" class="nav-link {% isactive page "manager/tills" %}">
                    <i class="nav-icon fas fa-cash-register"></i>
                    <p>
                        Tills
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url "manager/tills/overview" %}"
                           class="nav-link {% isactive page "manager/tills/overview" %}">
                            <i class="nav-icon fas fa-table"></i>
                            <p>Overview</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "manager/tills/assign" %}"
                           class="nav-link {% isactive page "manager/tills/assign" %}">
                            <i class="nav-icon fas fa-plus-square"></i>
                            <p>Create</p>
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}
        {% if admin_role %}
            <li class="nav-header">Staff tasks</li>
            <li class="nav-item has-treeview {% isopen page "admin/finance" %}">
                <a href="{% url "admin/finance" %}" class="nav-link {% isactive page "admin/finance" %}">
                    <i class="nav-icon fas fa-coins"></i>
                    <p>
                        Finance
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url "admin/finance/currencies" %}"
                           class="nav-link {% isactive page "admin/finance/currencies" %}">
                            <i class="nav-icon fas fa-euro-sign"></i>
                            <p>Currencies</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "admin/finance/methods" %}"
                           class="nav-link {% isactive page "admin/finance/methods" %}">
                            <i class="nav-icon fas fa-money-check-alt"></i>
                            <p>Payment methods</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item has-treeview {% isopen page "admin/units" %}">
                <a href="{% url "admin/units" %}" class="nav-link {% isactive page "admin/units" %}">
                    <i class="nav-icon fas fa-balance-scale"></i>
                    <p>
                        Units
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url "admin/units/overview" %}"
                           class="nav-link {% isactive page "admin/units/overview" %}">
                            <i class="nav-icon fas fa-table"></i>
                            <p>Overview</p>
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}
    </ul>
{% endblock %}
