{% extends "adminlte/lib/_main_sidebar.html" %}
{% load static %}
{% load sidebar %}

{% block logo %}
    <a href="/" class="brand-link">
        <img src="{% static "posapp/img/puda.jpg" %}" alt="ÚRODNÁ PŮDA" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">PUDA POS</span>
    </a>
{% endblock %}

{% block nav_links_ul %}
    <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
        {% if waiter_role %}
            <li class="nav-header">Waiter tasks</li>
            <li class="nav-item">
                <a href="{% url "waiter/tabs" %}" class="nav-link {% isactive page "waiter/tabs" %}">
                    <i class="nav-icon fas fa-receipt"></i>
                    <p>Tabs</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url "waiter/orders" %}" class="nav-link {% isactive page "waiter/orders" %}">
                    <i class="nav-icon fas fa-beer"></i>
                    <p>Orders</p>
                </a>
            </li>
        {% endif %}
        {% if manager_role or director_role %}
            <li class="nav-header">Manager tasks</li>
            <li class="nav-item has-treeview {% isopen page "manager/users" %}">
                <a href="{% url "manager/users" %}" class="nav-link {% isactive page "manager/users"%}">
                    <i class="nav-icon fas fa-users-cog"></i>
                    <p>
                        Users
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url "manager/users" %}"
                           class="nav-link {% isactive page "manager/users" "True" %}">
                            <i class="nav-icon fas fa-users"></i>
                            <p>Overview</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "manager/users/create" %}"
                           class="nav-link {% isactive page "manager/users/create" %}">
                            <i class="nav-icon fas fa-user-plus"></i>
                            <p>Create</p>
                        </a>
                    </li>
                </ul>
            </li>
            {% if manager_role %}
                <li class="nav-item has-treeview {% isopen page "manager/tills" %}">
                    <a href="{% url "manager/tills" %}" class="nav-link {% isactive page "manager/tills" %}">
                        <i class="nav-icon fas fa-cash-register"></i>
                        <p>
                            Tills
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{% url "manager/tills" %}"
                               class="nav-link {% isactive page "manager/tills" "True" %}">
                                <i class="nav-icon fas fa-table"></i>
                                <p>Overview</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url "manager/tills/assign" %}"
                               class="nav-link {% isactive page "manager/tills/assign" %}">
                                <i class="nav-icon fas fa-plus-square"></i>
                                <p>Create</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="{% url "manager/requests" %}" class="nav-link {% isactive page "manager/requests" %}">
                        <i class="nav-icon fas fa-comment-dots"></i>
                        <p>Requests</p>
                    </a>
                </li>
            {% endif %}
        {% endif %}
        {% if director_role %}
            <li class="nav-header">Director tasks</li>
            <li class="nav-item has-treeview {% isopen page "director/finance" %}">
                <a href="{% url "director/finance" %}" class="nav-link {% isactive page "director/finance" %}">
                    <i class="nav-icon fas fa-coins"></i>
                    <p>
                        Finance
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url "director/finance/currencies" %}"
                           class="nav-link {% isactive page "director/finance/currencies" %}">
                            <i class="nav-icon fas fa-euro-sign"></i>
                            <p>Currencies</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "director/finance/methods" %}"
                           class="nav-link {% isactive page "director/finance/methods" %}">
                            <i class="nav-icon fas fa-money-check-alt"></i>
                            <p>Payment methods</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{% url "director/finance/deposits" %}"
                           class="nav-link {% isactive page "director/finance/deposits" %}">
                            <span class="fa-layers fa-fw">
                                <i class="fas fa-cash-register"></i>
                                <i class="text-light fas fa-cog" data-fa-transform="shrink-6 down-4.2 right-4"></i>
                            </span>
                            <p>Deposits</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="{% url "director/units" %}" class="nav-link {% isactive page "director/units" %}">
                    <i class="nav-icon fas fa-balance-scale"></i>
                    <p>Units</p>
                </a>
            </li>
            <li class="nav-item has-treeview {% isopen page "director/menu" %}">
                <a href="{% url "director/menu" %}" class="nav-link {% isactive page "director/menu" %}">
                    <i class="nav-icon fas fa-book-open"></i>
                    <p>
                        Menu
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url "director/menu/products" %}"
                           class="nav-link {% isactive page "director/menu/products" %}">
                            <i class="nav-icon fas fa-utensils"></i>
                            <p>Products</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="{% url "director/menu/items" %}"
                           class="nav-link {% isactive page "director/menu/items" %}">
                            <i class="nav-icon fas fa-cheese"></i>
                            <p>Items</p>
                        </a>
                    </li>
                </ul>
            </li>
        {% endif %}
    </ul>
{% endblock %}
