{% extends "adminlte/login.html" %}
{% load static %}
{% load generic %}

{% block title %}{{ "Create debug user"|format_title }}{% endblock %}

{% block logo_text %}<img src="{% static 'posapp/img/logo.svg' %}" style="width:100%;"/>{% endblock %}

{% block login_form %}
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.DEBUG %}
                <div class="alert alert-primary alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fas fa-bug"></i>&nbsp;{{ message|safe }}
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
                <div class="alert alert-info alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fas fa-info-circle"></i>&nbsp;{{ message|safe }}
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fas fa-check"></i>&nbsp;{{ message|safe }}
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
                <div class="alert alert-warning alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fas fa-exclamation-triangle"></i>&nbsp;{{ message|safe }}
                </div>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <div class="alert alert-danger alert-dismissible fade show">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <i class="fas fa-times-circle"></i>&nbsp;{{ message|safe }}
                </div>
            {% else %}
                <div class="alert alert-info alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.username.id_for_label }}">Username</label>
            {{ form.username }}
            {% if form.username.errors %}
                <div class="text-danger">{{ form.username.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.first_name.id_for_label }}">First name:</label>
            {{ form.first_name }}
            {% if form.first_name.errors %}
                <div class="text-danger">{{ form.first_name.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.last_name.id_for_label }}">Last name:</label>
            {{ form.last_name }}
            {% if form.last_name.errors %}
                <div class="text-danger">{{ form.last_name.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.email.id_for_label }}">Email:</label>
            {{ form.email }}
            {% if form.email.errors %}
                <div class="text-danger">{{ form.email.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.mobile_phone.id_for_label }}">Mobile phone:</label>
            {{ form.mobile_phone }}
            {% if form.mobile_phone.errors %}
                <div class="text-danger">{{ form.mobile_phone.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.password1.id_for_label }}" title="Default password is pudapos123">Password:</label>
            {{ form.password1 }}
            {% if form.password1.errors %}
                <div class="text-danger">{{ form.password1.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group">
            <label for="{{ form.password2.id_for_label }}">Password verification:</label>
            {{ form.password2 }}
            {% if form.password2.errors %}
                <div class="text-danger">{{ form.password2.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group form-check">
            {{ form.is_waiter }}
            <label class="form-check-label" for="{{ form.is_waiter.id_for_label }}">Is
                waiter</label>
            {% if form.is_waiter.errors %}
                <div class="text-danger">{{ form.is_waiter.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group form-check">
            {{ form.is_manager }}
            <label class="form-check-label" for="{{ form.is_manager.id_for_label }}">Is
                manager</label>
            {% if form.is_manager.errors %}
                <div class="text-danger">{{ form.is_manager.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group form-check">
            {{ form.is_director }}
            <label class="form-check-label" for="{{ form.is_director.id_for_label }}">Is
                director</label>
            {% if form.is_director.errors %}
                <div class="text-danger">{{ form.is_director.errors }}</div>
            {% endif %}
        </div>
        <div class="form-group form-check">
            {{ form.is_active }}
            <label class="form-check-label" for="{{ form.is_active.id_for_label }}">Is
                active</label>
            {% if form.is_active.errors %}
                <div class="text-danger">{{ form.is_active.errors }}</div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary"><i class="fas fa-plus"></i> Create</button>
    </form>
{% endblock %}
