{% extends "_base.html" %}
{% load generic %}

{% block page_name %}
    <i class="fas fa-table"></i>
    Tills overview
{% endblock %}

{% block no_description %}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url "index" %}">Home</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url "manager" %}">Manager</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url "manager/tills" %}">Tills</a></li>
    <li class="breadcrumb-item active" aria-current="page">Overview</li>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="card">
                    <div class="card-header border-0">
                        <h2 class="card-title">
                            <i class="fas fa-hand-holding-usd"></i>
                            Open tills
                        </h2>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool"
                                    onclick="window.location='{% url "manager/tills/assign" %}'">
                                <i class="fas fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <table class="table table-striped table-hover table-valign-middle">
                            <thead>
                            <tr class="d-flex">
                                <th scope="col" class="col-3">Cashier(s)</th>
                                <th scope="col" class="col-2">Deposit</th>
                                <th scope="col" class="col-2">Opened at</th>
                                <th scope="col" class="col-2">&nbsp;</th>
                                <th scope="col" class="col-2">&nbsp;</th>
                                <th scope="col" class="col-1">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for till in open.data %}
                                <tr class="d-flex">
                                    <td class="col-3" id="till-{{ till.id }}-cashiers">{{ till.cashier_names }}</td>
                                    <td class="col-2" id="till-{{ till.id }}-deposit">{{ till.deposit }}</td>
                                    <td class="col-2">{{ till.openedAt }}</td>
                                    <td class="col-2">&nbsp;</td>
                                    <td class="col-2">&nbsp;</td>
                                    <td class="col-1">
                                        <button type="button" class="btn btn-tool stopTillButton"
                                                data-till-id="{{ till.id }}"
                                                data-url="{% url "manager/tills/till/stop" till.id %}">
                                            <i class="fas fa-stop-circle" data-toggle="tooltip" data-placement="top"
                                               title="Stop till"></i>
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer border-top">
                        <div class="row">
                            <div class="col-6">
                                Showing items {{ open.showing.from|add_one }} through {{ open.showing.to|add_one }}
                                of {{ open.showing.of }}.
                                &nbsp;
                                Items per page:
                                <select onchange="refreshPage();" id="pageLengthOpen">
                                    {% for option in open.pages.page_length.options %}
                                        <option value="{{ option }}" {% if option == open.pages.page_length.value %}selected{% endif %}>{{ option }} items</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6 text-right">
                                <div class="btn-group" role="group">
                                    {% if open.pages.showPrevious %}
                                        <button type="button" class="btn btn-outline-secondary"
                                                onclick="window.location = '?page_open=0&page_stopped={{ stopped.pages.page }}&page_counted={{ counted.pages.page }}&page_length={{ open.pages.page_length.value }}'">
                                            <i class="fas fa-angle-double-left"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-secondary"
                                                onclick="window.location = '?page_open={{ open.pages.previous }}&page_stopped={{ stopped.pages.page }}&page_counted={{ counted.pages.page }}&page_length={{ open.pages.page_length.value }}'">
                                            <i class=" fas fa-angle-left"></i>
                                        </button>
                                    {% endif %}
                                    {% for link in open.pages.links %}
                                        <button type="button"
                                                class="btn btn-outline-secondary{% if link.active %} active{% endif %}"
                                                onclick="window.location = '?page_open={{ link.page }}&page_stopped={{ stopped.pages.page }}&page_counted={{ counted.pages.page }}&page_length={{ open.pages.page_length.value }}'">
                                            {{ link.page|add_one }}
                                        </button>
                                    {% endfor %}
                                    {% if open.pages.showNext %}
                                        <button type="button" class="btn btn-outline-secondary"
                                                onclick="window.location = '?page_open={{ open.pages.next }}&page_stopped={{ stopped.pages.page }}&page_counted={{ counted.pages.page }}&page_length={{ open.pages.page_length.value }}'">
                                            <i class="fas fa-angle-right"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-secondary"
                                                onclick="window.location = '?page_open={{ open.pages.last }}&page_stopped={{ page_closed }}&page_counted={{ page_counted }}&page_length={{ open.pages.page_length.value }}'">
                                            <i class="fas fa-angle-double-right"></i>
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="card">
                    <div class="card-header border-0">
                        <h2 class="card-title">
                            <span class="fa-stack" style="font-size: 0.5em;">
                                <i class="fas fa-hand-holding fa-stack-2x"></i>
                                <i class="fas fa-ban fa-inverse fa-stack-1x" style="color: tomato"></i>
                            </span>
                            Stopped tills
                        </h2>
                    </div>
                    <div class="card-body p-0">
                        <table class="table table-striped table-hover table-valign-middle">
                            <thead>
                            <tr class="d-flex">
                                <th scope="col" class="col-3">Cashier(s)</th>
                                <th scope="col" class="col-2">Deposit</th>
                                <th scope="col" class="col-2">Opened at</th>
                                <th scope="col" class="col-2">Stopped at</th>
                                <th scope="col" class="col-2">&nbsp;</th>
                                <th scope="col" class="col-1">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for till in stopped.data %}
                                <tr class="d-flex">
                                    <td class="col-3" id="till-{{ till.id }}-cashiers">{{ till.cashier_names }}</td>
                                    <td class="col-2" id="till-{{ till.id }}-deposit">{{ till.deposit }}</td>
                                    <td class="col-2">{{ till.openedAt }}</td>
                                    <td class="col-2">{{ till.stoppedAt }}</td>
                                    <td class="col-2">&nbsp;</td>
                                    <td class="col-1">
                                        <a href="{% url "manager/tills/till/count" till.id %}" class="btn btn-tool"
                                           data-toggle="tooltip" data-placement="top" title="Count till">
                                            <i class="fas fa-piggy-bank"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer border-top">
                        <div class="row">
                            <div class="col-6">
                                Showing items {{ stopped.showing.from|add_one }}
                                through {{ stopped.showing.to|add_one }}
                                of {{ stopped.showing.of }}.
                                &nbsp;
                                Items per page:
                                <select onchange="refreshPage();" id="pageLengthStopped">
                                    {% for option in stopped.pages.page_length.options %}
                                        <option value="{{ option }}" {% if option == stopped.pages.page_length.value %}selected{% endif %}>{{ option }} items</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6 text-right">
                                <div class="btn-group" role="group">
                                    {% if stopped.pages.showPrevious %}
                                        <button type="button" class="btn btn-outline-secondary"
                                                onclick="window.location = '?page_stopped=0&page_open={{ open.pages.page }}&page_counted={{ counted.pages.page }}&page_length={{ stopped.pages.page_length.value }}'">
                                            <i class="fas fa-angle-double-left"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-secondary"
                                                onclick="window.location = '?page_stopped={{ stopped.pages.previous }}&page_open={{ open.pages.page }}&page_counted={{ counted.pages.page }}&page_length={{ stopped.pages.page_length.value }}'">
                                            <i class=" fas fa-angle-left"></i>
                                        </button>
                                    {% endif %}
                                    {% for link in stopped.pages.links %}
                                        <button type="button"
                                                class="btn btn-outline-secondary{% if link.active %} active{% endif %}"
                                                onclick="window.location = '?page_stopped={{ link.page }}&page_open={{ open.pages.page }}&page_counted={{ counted.pages.page }}&page_length={{ stopped.pages.page_length.value }}'">
                                            {{ link.page|add_one }}
                                        </button>
                                    {% endfor %}
                                    {% if stopped.pages.showNext %}
                                        <button type="button" class="btn btn-outline-secondary"
                                                onclick="window.location = '?page_stopped={{ stopped.pages.next }}&page_open={{ open.pages.page }}&page_counted={{ counted.pages.page }}&page_length={{ stopped.pages.page_length.value }}'">
                                            <i class="fas fa-angle-right"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-secondary"
                                                onclick="window.location = '?page_stopped={{ stopped.pages.last }}&page_open={{ open.pages.page }}&page_counted={{ counted.pages.page }}&page_length={{ stopped.pages.page_length.value }}'">
                                            <i class="fas fa-angle-double-right"></i>
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="card">
                    <div class="card-header border-0">
                        <h2 class="card-title">
                            <i class="fas fa-lock"></i>
                            Counted tills
                        </h2>
                    </div>
                    <div class="card-body p-0">
                        <table class="table table-striped table-hover table-valign-middle">
                            <thead>
                            <tr class="d-flex">
                                <th scope="col" class="col-3" id="till-{{ till.id }}-cashiers">Cashier(s)</th>
                                <th scope="col" class="col-2" id="till-{{ till.id }}-deposit">Deposit</th>
                                <th scope="col" class="col-2">Opened at</th>
                                <th scope="col" class="col-2">Stopped at</th>
                                <th scope="col" class="col-2">Counted at</th>
                                <th scope="col" class="col-1">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for till in counted.data %}
                                <tr class="d-flex">
                                    <td class="col-3">{{ till.cashier_names }}</td>
                                    <td class="col-2">{{ till.deposit }}</td>
                                    <td class="col-2">{{ till.openedAt }}</td>
                                    <td class="col-2">{{ till.stoppedAt }}</td>
                                    <td class="col-2">{{ till.countedAt }}</td>
                                    <td class="col-1">
                                        <a href="{% url "manager/tills/till" till.id %}" class="btn btn-tool"
                                           data-toggle="tooltip" data-position="top" title="Show">
                                            <i class="fas fa-receipt"></i>
                                        </a>
                                        <a href="{% url "manager/tills/till/edit" till.id %}" class="btn btn-tool"
                                           data-toggle="tooltip" data-position="top" title="Edit">
                                            <i class="far fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer border-top">
                        <div class="row">
                            <div class="col-6">
                                Showing items {{ counted.showing.from|add_one }}
                                through {{ counted.showing.to|add_one }}
                                of {{ counted.showing.of }}.
                                &nbsp;
                                Items per page:
                                <select onchange="refreshPage();" id="pageLengthCounted">
                                    {% for option in counted.pages.page_length.options %}
                                        <option value="{{ option }}" {% if option == counted.pages.page_length.value %}selected{% endif %}>{{ option }} items</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6 text-right">
                                <div class="btn-group" role="group">
                                    {% if counted.pages.showPrevious %}
                                        <button type="button" class="btn btn-outline-secondary"
                                                onclick="window.location = '?page_counted=0&page_open={{ open.pages.page }}&page_stopped={{ stopped.pages.page }}&page_length={{ counted.pages.page_length.value }}'">
                                            <i class="fas fa-angle-double-left"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-secondary"
                                                onclick="window.location = '?page_counted={{ counted.pages.previous }}&page_open={{ open.pages.page }}&page_stopped={{ stopped.pages.page }}&page_length={{ counted.pages.page_length.value }}'">
                                            <i class=" fas fa-angle-left"></i>
                                        </button>
                                    {% endif %}
                                    {% for link in counted.pages.links %}
                                        <button type="button"
                                                class="btn btn-outline-secondary{% if link.active %} active{% endif %}"
                                                onclick="window.location = '?page_counted={{ link.page }}&page_open={{ open.pages.page }}&page_stopped={{ stopped.pages.page }}&page_length={{ counted.pages.page_length.value }}'">
                                            {{ link.page|add_one }}
                                        </button>
                                    {% endfor %}
                                    {% if counted.pages.showNext %}
                                        <button type="button" class="btn btn-outline-secondary"
                                                onclick="window.location = '?page_counted={{ counted.pages.next }}&page_open={{ open.pages.page }}&page_stopped={{ stopped.pages.page }}&page_length={{ counted.pages.page_length.value }}'">
                                            <i class="fas fa-angle-right"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-secondary"
                                                onclick="window.location = '?page_counted={{ counted.pages.last }}&page_open={{ open.pages.page }}&page_stopped={{ stopped.pages.page }}&page_length={{ counted.pages.page_length.value }}'">
                                            <i class="fas fa-angle-double-right"></i>
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- MODALS -->
    <div class="modal fade" id="confirmStopTillModal" tabindex="-1" role="dialog"
         aria-labelledby="confirmStopTillModalTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmStopTillModalTitle">Confirm action</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="confirmStopTillModalBody"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <a id="confirmStopTillLink" class="btn btn-success">Confirm and close</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $('.stopTillButton').click(function () {
            let id = $(this).data('till-id');
            let cashiers = $(`#till-${id}-cashiers`).html();
            let deposit = $(`#till-${id}-deposit`).html();
            let message = `Are you sure you want to close the ${deposit} till of cashier(s) ${cashiers}?<br>After this operation waiters won't be able to finish any orders and the till will have to be counted. After stopping, the till can't be reopened.`;
            $('#confirmStopTillModalBody').html(message);
            $('#confirmStopTillModal').modal('show');
            $('#confirmStopTillLink').attr("href", $(this).data('url'));
        });
    </script>
{% endblock %}
