{% extends "_base.html" %}
{% load generic %}

{% block page_name %}
    <i class="fas fa-utensils"></i>
    Products
{% endblock %}

{% block no_description %}{% endblock %}

{% block breadcrumbs %}
    <li class="breadcrumb-item" aria-current="page"><a href="{% url "index" %}">Home</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url "director" %}">Director</a></li>
    <li class="breadcrumb-item" aria-current="page"><a href="{% url "director/menu" %}">Menu</a></li>
    <li class="breadcrumb-item active" aria-current="page">Products</li>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header border-0">
                        <h2 class="card-title">
                            <i class="fas fa-table"></i>
                            Products
                        </h2>
                        <div class="card-tools text-right">
                            <div class="row">
                                <div class="col-4">
                                    <div class="input-group">
                                        <div class="btn-group" role="group">
                                            <button type="button"
                                                    class="btn btn-outline-success{% if enabledFilter.yes %} active{% endif %}"
                                                    onclick="window.location = '?page={{ products.pages.page }}&page_length={{ products.pages.page_length.value }}&enabled=yes{% if search %}&search={{ search }}{% endif %}'">
                                                <i class="fas fa-check-circle"></i>
                                            </button>
                                            <button type="button"
                                                    class="form-control btn btn-outline-secondary{% if enabledFilter.none %} active{% endif %}"
                                                    onclick="window.location = '?page={{ products.pages.page }}&page_length={{ products.pages.page_length.value }}&enabled={% if search %}&search={{ search }}{% endif %}'">
                                                <i class="fas fa-slash"></i>
                                            </button>
                                            <button type="button"
                                                    class="btn btn-outline-danger{% if enabledFilter.no %} active{% endif %}"
                                                    onclick="window.location = '?page={{ products.pages.page }}&page_length={{ products.pages.page_length.value }}&enabled=no{% if search %}&search={{ search }}{% endif %}'">
                                                <i class="fas fa-times-circle"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <form id="searchForm">
                                        <div class="input-group">
                                            <input type="text" class="form-control border-right-0 border-secondary"
                                                   placeholder="Search"
                                                   aria-label="Search"
                                                   aria-describedby="search-addon-button" id="searchField"
                                                   name="search"{% if search %} value="{{ search }}"{% endif %}>
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary border-left-0"
                                                        type="submit"
                                                        id="search-addon-button"><i
                                                        class="fas fa-search"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-1">
                                    <button type="button" class="btn btn-tool"
                                            data-toggle="tooltip" data-position="top" title="Add"
                                            onclick="$('#createProductModal').modal('show')">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <table class="table table-striped table-hover table-valign-middle">
                            <thead>
                            <tr class="d-flex">
                                <th scope="col" class="col-5">Name</th>
                                <th scope="col" class="col-5 text-center">Price</th>
                                <th scope="col" class="col-1 text-center">Enabled</th>
                                <th scope="col" class="col-1 text-center">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for product in products.data %}
                                <tr class="d-flex">
                                    <td class="col-5">{{ product.name }}</td>
                                    <td class="col-5 text-center">{{ product.price }}</td>
                                    <td class="col-1 text-center">
                                        <button type="button" class="btn btn-tool toggle-manager"
                                                onclick="toggleEnabled('{{ product.id }}')">
                                            {% if product.enabled %}
                                                <i class="text-success fas fa-check-circle"
                                                   id="enabled-indicator-{{ product.id }}"></i>
                                            {% else %}
                                                <i class="text-danger fas fa-times-circle"
                                                   id="enabled-indicator-{{ product.id }}"></i>
                                            {% endif %}
                                        </button>
                                    </td>
                                    <td class="col-1 text-center"><a
                                            href="{% url "director/menu/products/product" product.id %}"
                                            class="btn btn-tool"><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer border-top">
                        <div class="row">
                            <div class="col-6">
                                Showing items {{ products.showing.from|add_one }}
                                through {{ products.showing.to|add_one }} of {{ products.showing.of }}.
                                &nbsp;
                                Items per page:
                                <select onchange="window.location = '?page={{ products.pages.page }}&page_length=' + this.options[this.selectedIndex].value{% if enabledFilter.val %} + '&enabled={{ enabledFilter.val }}'{% endif %}{% if search %} + '&search={{ search }}'{% endif %};">
                                    <option value="5" {% if products.pages.page_length.len5 %}selected{% endif %}>
                                        5 items
                                    </option>
                                    <option value="10" {% if products.pages.page_length.len10 %}selected{% endif %}>
                                        10 items
                                    </option>
                                    <option value="20" {% if products.pages.page_length.len20 %}selected{% endif %}>
                                        20 items
                                    </option>
                                    <option value="50" {% if products.pages.page_length.len50 %}selected{% endif %}>
                                        50 items
                                    </option>
                                    <option value="100" {% if products.pages.page_length.len100 %}selected{% endif %}>
                                        100 items
                                    </option>
                                    <option value="200" {% if products.pages.page_length.len200 %}selected{% endif %}>
                                        200 items
                                    </option>
                                    <option value="500" {% if products.pages.page_length.len500 %}selected{% endif %}>
                                        500 items
                                    </option>
                                    {% if products.pages.page_length.other %}
                                        <option value="{{ products.pages.page_length.value }}" selected>
                                            Other ({{ products.pages.page_length.value }} items)
                                        </option>
                                    {% endif %}
                                </select>
                            </div>
                            <div class="col-6 text-right">
                                <div class="btn-group" role="group">
                                    {% if products.pages.showPrevious %}
                                        <button type="button" class="btn btn-outline-secondary"
                                                onclick="window.location = '?page=0&page_length={{ products.pages.page_length.value }}'{% if enabledFilter.val %} + '&enabled={{ enabledFilter.val }}'{% endif %}{% if search %} +
                                                    '&search={{ search }}{% endif %}">
                                            <i class="fas fa-angle-double-left"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-secondary"
                                                onclick="window.location = '?page={{ products.pages.previous }}&page_length={{ products.pages.page_length.value }}'{% if enabledFilter.val %} + '&enabled={{ enabledFilter.val }}'{% endif %}{% if search %} +
                                                    '&search={{ search }}{% endif %}">
                                            <i class=" fas fa-angle-left"></i>
                                        </button>
                                    {% endif %}
                                    {% for link in products.pages.links %}
                                        <button type="button"
                                                class="btn btn-outline-secondary{% if link.active %} active{% endif %}"
                                                onclick="window.location = '?page={{ link.page }}&page_length={{ products.pages.page_length.value }}'{% if enabledFilter.val %} + '&enabled={{ enabledFilter.val }}'{% endif %}{% if search %} +
                                                    '&search={{ search }}{% endif %}">
                                            {{ link.page|add_one }}
                                        </button>
                                    {% endfor %}
                                    {% if products.pages.showNext %}
                                        <button type="button" class="btn btn-outline-secondary"
                                                onclick="window.location = '?page={{ products.pages.next }}&page_length={{ products.pages.page_length.value }}'{% if enabledFilter.val %} + '&enabled={{ enabledFilter.val }}'{% endif %}{% if search %} +
                                                    '&search={{ search }}{% endif %}">
                                            <i class="fas fa-angle-right"></i>
                                        </button>
                                        <button type="button" class="btn btn-outline-secondary"
                                                onclick="window.location = '?page={{ products.pages.last }}&page_length={{ products.pages.page_length.value }}'{% if enabledFilter.val %} + '&enabled={{ enabledFilter.val }}'{% endif %}{% if search %} +
                                                    '&search={{ search }}{% endif %}">
                                            <i class="fas fa-angle-double-right"></i>
                                        </button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--MODALS-->
    <div class="modal fade" id="createProductModal" tabindex="-1" role="dialog"
         aria-labelledby="createProductModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="createProductModalLabel">New product</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if create_product_form.non_field_errors %}
                        <div class="alert alert-warning alert-dismissible fade show">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ create_product_form.non_field_errors }}
                        </div>
                    {% endif %}
                    <form action="{% url "director/menu/products" %}" method="post" id="createProductForm">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="{{ create_product_form.name.id_for_label }}">Name</label>
                            {{ create_product_form.name }}
                            {% if create_product_form.name.errors %}
                                <div class="text-danger">{{ create_product_form.name.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="{{ create_product_form.price.id_for_label }}">Price</label>
                            {{ create_product_form.price }}
                            {% if create_product_form.price.errors %}
                                <div class="text-danger">{{ create_product_form.price.errors }}</div>
                            {% endif %}
                        </div>
                        <div class="form-group form-check">
                            {{ create_product_form.enabled }}
                            <label class="form-check-label"
                                   for="{{ create_product_form.enabled.id_for_label }}">Enabled</label>
                            {% if create_product_form.enabled.errors %}
                                <div class="text-danger">{{ create_product_form.enabled.errors }}</div>
                            {% endif %}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="createProductForm">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ block.super }}
    <script>
        $('#searchForm').bind('submit', function () {
            let search = $('#searchField').val();
            window.location = `?page={{ products.pages.page }}&page_length={{ products.pages.page_length.value }}{% if enabledFilter.val %}&enabled={{ enabledFilter.val }}{% endif %}${search ? `&search=${search}` : ""}`;
            return false;
        });

        function toggleEnabled(id) {
            event.stopPropagation();
            event.stopImmediatePropagation();

            postData(`/api/1/products/${id}/toggleEnabled`).then(result => {
                if (result.status === 200) {
                    if (result.now) {
                        $(`#enabled-indicator-${id}`).removeClass().addClass("text-success fas fa-check-circle");
                    } else {
                        $(`#enabled-indicator-${id}`).removeClass().addClass("text-danger fas fa-times-circle");
                    }
                    $(document).Toasts('create', {
                        body: result.message,
                        title: 'Product updated',
                        icon: 'text-success fas fa-check fa-lg',
                        autohide: true,
                        delay: 5000,
                    })
                } else {
                    $(document).Toasts('create', {
                        body: result.error,
                        title: 'Product update failed',
                        icon: 'text-danger fas fa-times fa-lg',
                        autohide: true,
                        delay: 5000,
                    })
                }
            });
        }
    </script>
{% endblock %}
