aioredis==1.3.1
asgiref==3.2.7
astroid==2.4.0
async-timeout==3.0.1
attrs==19.3.0
autobahn==20.4.2
Automat==20.2.0
Babel==2.8.0
cffi==1.14.0
channels==2.4.0
channels-redis==2.4.2
constantly==15.1.0
cryptography==2.9
daphne==2.5.0
Django==3.0.7
django-adminlte3==0.1.6
django-appconf==1.0.4
django-countries==6.1.2
django-fsm==2.7.0
django-fsm-log @ git+https://github.com/dbinetti/django-fsm-log.git@85a90a91857d3adbf5edc407cab8745fd275279c
django-phonenumber-field==4.0.0
djangorestframework==3.11.0
djangorestframework-jsonapi==3.1.0
gunicorn==20.0.4
hiredis==1.0.1
hyperlink==19.0.0
idna==2.9
incremental==17.5.0
inflection==0.4.0
isort==4.3.21
lazy-object-proxy==1.4.3
mccabe==0.6.1
msgpack==0.6.2
phonenumbers==8.12.1
Pillow==7.1.2
psycopg2-binary==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
PyHamcrest==2.0.2
pylint==2.5.0
pylint-django==2.0.15
pylint-plugin-utils==0.6
pyOpenSSL==19.1.0
PyPDF2==1.26.0
pytz==2019.3
service-identity==18.1.0
six==1.14.0
sqlparse==0.3.1
toml==0.10.0
Twisted==20.3.0
txaio==20.4.1
wrapt==1.12.1
zope.interface==5.1.0
