{% extends "adminlte/login.html" %}
{% load static %}
{% load generic %}

{% block title %}{{ "Password change"|format_title }}{% endblock %}

{% block logo_text %}<img src="{% static 'posapp/img/logo.svg' %}" style="width:100%;"/>{% endblock %}

{% block login_form %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group has-feedback">
            <input type="password" name="old_password" class="form-control{% if form.old_password.errors %} is-invalid{% endif %}" placeholder="Old password">
            {% if form.old_password.errors %}
                <span class="glyphicon glyphicon-lock form-control-feedback text-danger">{{ form.old_password.errors }}</span>
            {% endif %}
        </div>
        <div class="form-group has-feedback">
            <input type="password" name="new_password1" class="form-control{% if form.new_password1.errors %} is-invalid{% endif %}" placeholder="New password">
            {% if form.new_password1.errors %}
                <span class="glyphicon glyphicon-lock form-control-feedback text-danger">{{ form.new_password1.errors }}</span>
            {% endif %}
        </div>
        <div class="form-group has-feedback">
            <input type="password" name="new_password2" class="form-control{% if form.new_password2.errors %} is-invalid{% endif %}" placeholder="Verification">
            {% if form.new_password2.errors %}
                <span class="glyphicon glyphicon-lock form-control-feedback text-danger">{{ form.new_password2.errors }}</span>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-xs-8">
            </div>
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Change password</button>
            </div>
        </div>
    </form>
{% endblock %}
